h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: rgb(3, 40, 61);
}

main ul {
  width: 70%;
  height: 70%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 0;
  margin: 1rem auto;
  margin-bottom: 5rem;
}

.front-images{
  position: relative;
}

.front-images img {
  width: 34rem;
  height: 22.67rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgb(87, 85, 85);
}

.front-images img:hover{
  filter: blur(3px);
}

span{
  position: absolute;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: all 0.1s ease-in 0.1s;
  z-index: 5;
}


.title{
  font-size: 1.8rem;
  left: 5rem;
  top: 11rem;
}

.description{
  font-size: 1.2rem;
  left: 5rem;
  top: 13.5rem;
  width: 70%;
}

.front-images:hover span {
  opacity: 1;
}